body{
    margin: 0px;
    background: url("/images/0101.jpg") repeat;
    font-family: '標楷體';
}
.title{
    width: 100%;
    font-size: 18px;
    font-family: '標楷體';
    color: red;
    text-align: center;
    margin-bottom: 20px;
    
}
.table{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    
}


.table2{
    width: 100%;
    padding-left: 10px;
    padding-right: 80px;
    font-family: '標楷體';
    font-size: 16px;
    text-align: left;
    
}
#tr0{
color: #800000;
}
#tr1{
color: #0000FF;
}
#tr2{
color: #FF0000;
}
#tr3{
color: #00FF00;
}
#tr4{
color: #000000;
}

