*{
    box-sizing: border-box;
    overflow:hidden;
}
.box{
    display: flex;
    
    height: 654px;
    width: calc(1000px - 215px);
    
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url(/images/0101.jpg);
}
.title{
    font-size: 18px;
    font-family: '標楷體';
    color:#00FFFF;
    text-align: center;
}
.item{
    margin: 15px 0px;
}
.table{
    width: 100%;
    text-align: center;
}
.content{
    margin-top: 10px;
    text-align: center;
}
button{
    text-decoration:underline;
    color: blue;
    font-family: '標楷體';
    font-size: 18px;
}
button:hover{
color: chocolate;
font-size: 20px;

}