
body{
    margin: 0px;
    background: url("/images/0101.jpg") repeat;
    font-family: '標楷體';
}
header{
    font-size: 18px;
    font-family: '標楷體';
    color:#00FFFF;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
.content{
    margin-top: 10px;
    text-align:center;
}
button{
    text-decoration:underline;
    color: blue;
    font-family: '標楷體';
    font-size: 18px;
}
button:hover{
color: chocolate;
font-size: 20px;

}